/* Simple CSS reset */
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;

  &:focus {
    outline: none;
    box-shadow: none;
  }
}

html {
  width: 100%;
  height: 100%;
  overflow: hidden;

  body {
    width: 100%;
    height: 100%;
    margin: 0;
    position: relative;

    #bar {
      background-color: #2d3434;
      height: 26px;
      padding: 0 8px;

      button {
        height: 100%;
        padding: 0 8px;
        background-color: transparent;
        font-size: 1.1em;
        font-weight: 300;
        border: none;
        color: white;
        cursor: pointer;

        &:focus {
          box-shadow: none;
          outline: none;
        }

        &:first-of-type {
          font-weight: 700;
        }
      }
    }

    #main {
      width: 100%;
      height: calc(100% - 26px);
    }
  }
}
